@model TippgruppenSuchenViewModel

@{
    ViewData["Title"] = "Tippgruppe suchen";
}
<a asp-controller="TippGruppen" asp-action="Index" class="btn btn-back"><i
        class="bi bi-chevron-left back-icon"></i>Zurück zum Gruppenübersicht</a>
@if (TempData["ErrorMessage"] != null)
{
    <div class="text-danger">@TempData["ErrorMessage"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Sportart</th>
            <th>Passwort</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TippGruppen)
        {
            <form asp-action="Beitreten">
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Beschreibung</td>
                    <td>@item.Sporttype.Name</td>
                    <td>
                        <input value="@item.Id" type="hidden" name="gruppeId" />
                        @if (!string.IsNullOrEmpty(item.Passwort))
                        {
                            <div class="form-field" style="margin-top: 24px;">
                                <div class="input">
                                    <input type="password" name="passwort" class="form-control" required />
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Beitreten</button>
                    </td>
                </tr>
            </form>
        }
    </tbody>
</table>
